importFrom("graphics", "plot", "points")
importFrom("stats", "shapiro.test", "aov", "summary.aov", "t.test", "p.adjust", "fisher.test", "prcomp","aggregate","quantile", "wilcox.test","cmdscale", "as.dist", "dist", "kmeans", "kruskal.test","median", "pnorm", "rnorm", "runif", "sd", "var","cor.test")
importFrom("minerva", "mine")
  

exportPattern(as.data.matrix,
              intersect,
              frequency_matching,
              txtsummary,
              continuous.test,
              categorical.test,
              correlation.test,
              multi_analysis)
