importFrom("graphics", "plot", "points")
importFrom("stats", "shapiro.test", "aov", "summary.aov", "t.test", "p.adjust", "fisher.test", "prcomp","aggregate","quantile", "wilcox.test","cmdscale", "as.dist", "dist", "kmeans", "kruskal.test","median", "pnorm", "rnorm", "runif", "sd", "var","cor.test")
importFrom("minerva", "mine")
importFrom("Matrix", "Matrix")
importFrom("methods", "new")
importFrom("clinfun","jonckheere.test")

export(as.data.matrix)
export(intersect)
export(frequency_matching)
export(txtsummary)
export(continuous.test)
export(categorical.test)
export(correlation.test)
export(multi_analysis)
export(initialization)
export(add_analysis)
